VITE_SUPABASE_URL=https://mzcnqrlxabqstahzhpmr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16Y25xcmx4YWJxc3RhaHpocG1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3Mjg5NjksImV4cCI6MjEwMjMwNDk2OX0.B3lpa4htt0JgV0BEcFvMXufKRZ-gMyhDDimp0dkXLsI
